cryptography==3.4.8
glob2==0.7

ipykernel==6.4.1
ipython==7.29.0
ipython-genutils==0.2.0


matplotlib==3.4.3
matplotlib-inline==0.1.2
numpy==1.20.3
pandas==1.3.3

path==16.0.0
Pillow==8.4.0
pip==22.3.1

py==1.10.0
pyOpenSSL==21.0.0
psutil==5.8.0
PyYAML==6.0
pyzmq==22.2.1
requests==2.26.0
scipy==1.7.1
seaborn==0.11.2

torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.62.3
seaborn
streamlit
streamlit_webrtc
